*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  font-family: var(--font-geist-mono);
}

/* This allows us to force dark mode by adding a class to the html tag */
[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Keep your existing media query so it defaults to system settings */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
