.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.count {
  font-size: 0.85rem;
  color: var(--text-secondary);
}

.notesGrid {
  display: grid;
  width: 100%;
  /* This creates a responsive grid without media queries! */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.newNoteBtn {
  text-decoration: none;
  color: inherit;
  line-height: 1em;
  border: 1.5px solid var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.5rem;
}